.main-container{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


.header{
    background-color: lightgrey;
    display: flex;
    color: white;
    justify-content: space-between;

    
}
.left-content{
    display: flex;
    gap: 10px;
    padding-top: 20px;
}
.use-location-btn{

    padding:auto;
}
.search-input{
    width:10rem;
    height: 2rem;
    border-radius: 112px;
    padding: 10px;
}
#hourly{

    display: flex;
    background-color: blue;
    width: 100%;
    overflow-x: auto;  
    width: 100vw;
    height: 300px;
    gap:30px; 
}
#daily{
    display: flex;
    gap: 10px;
    
}

